In [119]:
# Passo 1 - Abrir o navegador
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import pandas as pd 
nav = webdriver.Chrome()

# Passo 2 - Pegar cotação do Dolar, Euro e Ouro
#Dolar
nav.get('https://www.google.com/')
nav.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys('Cotação Dólar')
nav.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)
cotacao_dolar = nav.find_element_by_xpath('//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')
print(cotacao_dolar)

#Euro
nav.get('https://www.google.com/')
nav.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys('Cotação Euro')
nav.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)
cotacao_euro = nav.find_element_by_xpath('//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')
print(cotacao_euro)

#Ouro
nav.get('https://www.melhorcambio.com/ouro-hoje')
cotacao_ouro = nav.find_element_by_xpath('//*[@id="comercial"]').get_attribute('value')
cotacao_ouro = cotacao_ouro.replace(',','.')
print(cotacao_ouro)
nav.quit()

5.2539
6.166187196
296.46

In [120]:
# Passo 3 - Importar a base de dados
tabela = pd.read_excel("Produtos.xlsx")

# Passo 4 - Atualizar a base de dados
#Atualizando valor das cotações
tabela.loc[produtos['Moeda'] == 'Dólar', 'Cotação'] = float(cotacao_dolar)
tabela.loc[produtos['Moeda'] == 'Euro', 'Cotação'] = float(cotacao_euro)
tabela.loc[produtos['Moeda'] == 'Ouro', 'Cotação'] = float(cotacao_ouro)


#Atualizando Preço Base Reais de acordo com a Cotação, ex: Preço Original * Cotação = Preço Base Reais
tabela['Preço Base Reais'] = tabela['Preço Base Original'] * tabela['Cotação']

#Atualizando Preço final.
tabela['Preço Final'] = tabela['Preço Base Reais'] * tabela['Margem']

#Formatação números decimais
tabela['Preço Final'] = tabela['Preço Final'].map('{:.2f}'.format)
tabela['Cotação'] = tabela['Cotação'].map('{:.2f}'.format)
tabela['Preço Base Reais'] = tabela['Preço Base Reais'].map('{:.2f}'.format)

In [121]:
# Passo 5 - Exportar base de dados atualizada
tabela.to_excel('ProdutosNovo.xlsx')
display(tabela)

,Produtos,Preço Base Original,Moeda,Cotação,Preço Base Reais,Margem,Preço Final
0,Câmera Canon,999.99,Dólar,5.25,5253.85,1.40,7355.39
1,Carro Renault,4500.00,Euro,6.17,27747.84,2.00,55495.68
2,Notebook Dell,899.99,Dólar,5.25,4728.46,1.70,8038.38
3,IPhone,799.00,Dólar,5.25,4197.87,1.70,7136.37
4,Carro Fiat,3000.00,Euro,6.17,18498.56,1.90,35147.27
5,Celular Xiaomi,480.48,Dólar,5.25,2524.39,2.00,5048.79
6,Joia 20g,20.00,Ouro,296.46,5929.20,1.15,6818.58